* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    margin-bottom: 2%;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;

}

P {
    margin-bottom: 2% ;
    text-align: center;
    font-weight: bold;
}

.container {
    width: 50%;
    height: 82vh;
    margin: 4% auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    box-shadow: 1px 1px 10px hsl(179, 62%, 43%);
}

.content_Inicial{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

textarea {

    width: 70%;
    height: 20vh;
    resize: none;
    text-align: center;
    border-radius: 15px;
    font-size: 1.2rem;
    border: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px hsl(179, 62%, 43%);

}


button{
    width: 30%;
    height: 5vh;
    margin: 4% 2%;
    padding: 0%;
    border-radius: 20px;
    font-weight: 600;
    color: hsl(204, 43%, 93%);
    background-color: hsla(179, 62%, 43%, 0.664);
    border:white;
}

button:hover{
    color: hsl(179, 62%, 43%);
    background-color: hsl(204, 43%, 93%);
}

.button_Cripto:after {
    content: 'CRIPTOGRAFAR';
}

.button_Descripto:after{
    content: 'DESCRIPTOGRAFAR';
}

#resultado {
    font-weight: bold;
    color: green;
    text-align: center;
    font-size: 1.6rem;
}

.content_Result {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content_Result .button_Copia:after{
    content: 'COPIAR TEXTO';
    width: 14vw;
}


.attribution {
    font-size: 11px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    color: rgb(160, 160, 160);
}

.attribution a {
    color: hsl(244, 87%, 70%);
    text-decoration: none;
}

@media screen and (max-width:840px ){

    h1{
        font-size: 1.5rem;

    }
    .button_Cripto:after {
        font-size: 12px ;
        content: 'CRIPTO';

    }
    .button_Descripto:after{
        content: 'DESCRIPTO';

    }

.content_Result .button_Copia:after{
    content: 'COPY';

    }

}
