* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

figure {
    margin: 10px auto;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
    align-items:center;
    align-content: center;
    border: 1px solid gray;

}

figure img{
    margin: 0 2%;
    width: 10%;
    height: 10vh;

}

figure span {

    width: 30%;

}
h1 {
    margin-bottom: 2%;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;

}

P {
    margin-bottom: 2% ;
    text-align: center;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: 0% auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    /* background-color: black; */
    background-image: url(https://i.ibb.co/qndqMg7/263-2631018-imagens-de-pergaminhos-em-png-papel-pergaminho-png.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.content_Inicial{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
#moldura{
}

textarea {

    width: 70%;
    height: 20vh;
    resize: none;
    margin: 20px;
    padding:  20px;
    text-align: center;
    font-size: 1.2rem;
    outline:none ;
    border: none;
    box-shadow: 1PX 1PX 20PX rgba(250, 221, 177, 0);
    background-image: url(https://i.ibb.co/qndqMg7/263-2631018-imagens-de-pergaminhos-em-png-papel-pergaminho-png.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;

}


button{
    width: 20%;
    height: 10vh;
    margin: 0% 4%;
    padding: 0%;
    border-radius: 20px;
    font-weight: 600;
    color: hsla(189, 79%, 34%, 0.541);
    text-align: end;
    font-size: 1.4rem;
    background-color: rgba(250, 221, 177, 0);
    background-image: url(https://i.ibb.co/7253p0S/12bbbe789e85ac9f79d9835568330d70-ilustracao-de-espada-mediessval.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border:white;
}

button.button_Descripto{
    text-align: left;
    background-image: url(https://i.ibb.co/NnrqGPW/12bbbe789e85ac9f79d9835568330d70-ilustracao-de-espada-medieval.png);
}

button:hover{
    width: 40%;

}

#resultado {
    padding: 0 25px;
    font-weight: bold;
    color: green;
    text-align: center;
    font-size: 1.6rem;
}

.content_Result {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content_Result .button_Copia:after{
    /* content: 'COPIAR'; */
    /* width: 14vw; */
}


.attribution {
    font-size: 11px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    color: rgb(160, 160, 160);
}

.attribution a {
    color: hsl(244, 87%, 70%);
    text-decoration: none;
}

@media screen and (max-width:840px ){

    h1{
        font-size: 1.5rem;

    }
    .button_Cripto:after {
        font-size: 12px ;
        content: 'CRIPTO';

    }
    .button_Descripto:after{
        content: 'DESCRIPTO';

    }

.content_Result .button_Copia:after{
    content: 'COPY';

    }

}
